<div class="footer-nav">
  <footer class="text-center text-lg-start" style="background-color: #000000">
    <!-- Copyright -->
    <div
      class="text-center text-white p-3"
      style="background-color: rgba(0, 0, 0, 0.2)"
    >
      © 2020 Copyright:
    </div>
    <!-- Copyright -->
  </footer>
</div>
