<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <h2 class="navbar-brand">CN Placement Cell</h2>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <button
            class="nav-link btn btn-primary"
            href="#"
            aria-expanded="page"
          >
            Home
          </button>
          <div class="dropdown">
            <button
              class="nav-link btn btn-primary dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="page"
            >
              Students
            </button>
            <ul class="dropdown-menu">
              <li>
                <button class="dropdown-item" type="button">
                  List of Students
                </button>
              </li>
              <li>
                <button class="dropdown-item" type="button">
                  Add new Student
                </button>
              </li>
            </ul>
          </div>
          <div class="dropdown">
            <button
              class="nav-link btn btn-primary dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="page"
            >
              Interviews
            </button>
            <ul class="dropdown-menu">
              <li>
                <button class="dropdown-item" type="button">
                  List of Interviews
                </button>
              </li>
              <li>
                <button class="dropdown-item" type="button">
                  Add new Interviews
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
