<div class="FormContainer">
  <div class="formHeading">Forgot password</div>
  <div class="Form">
    <form action="/users/forgot-pwd/" method="post">
      <input type="email" name="email" placeholder="Your Email" required />
      <button class="submitButton" type="submit" value="Sign In">
        Get Link
      </button>
    </form>
  </div>
</div>
