<div class="home">
  <div class="profileDisplay">
    <h1>Hello!!!</h1>
    <h1 class="userName"><%=user.name%>!</h1>
  </div>
  <div class="resetPasswordLink">
    <p>Wanna reset your password?</p>
    <a href="users/reset-pwd">click here!!!</a>
  </div>
</div>
