<h1></h1>

<div class="FormContainer">
  <div class="formHeading">Reset password for <%= user%></div>
  <div class="Form">
    <form action="" %>
      method="post">
      <input
        type="password"
        name="password"
        placeholder="New Password"
        required
      />
      <input
        type="password"
        name="confirm_password"
        placeholder="Confirm New Password"
        required
      />
      <button class="submitButton" type="submit" value="Sign In">
        Save password
      </button>
    </form>
  </div>
</div>
